html{
  background: url('https://images.unsplash.com/photo-1422207239328-29f83832206c?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=6f00eac866bbea1b6ab3d19ddb2de6fd&auto=format&fit=crop&w=679&q=80') no-repeat center center fixed;
  background-size: cover;
}

h1{
  text-align: center;
  font-size: 30px;
  font-family:"Comic Sans MS", cursive, sans-serif;
}

header{
  color:black;
	margin:50px auto 40px;
	text-align: center;
	padding: 40px;
	width: 40%;
	/* The below allows you to set transparency of the background -
	you put in the red green and blue values and then the transparency (alpha)
	 which can range from 0 to 1 */
	background: rgba(0,0,0,0.5);
 }
